.row{
    display: flex;
    box-sizing: border-box;
}

.row:hover{
    border-radius: 3px;
    background: #6a9dd0;
}

div{
    padding: 5px 0;
}

.title{
    display: flex;
    width: 50%;
    padding: 0 5px;
}

.price{
    width: 15%;
    padding: 0 5px;
}

.quantity{
    width: 10%;
    padding: 0 5px;
}

.total{
    width: 15%;
    font-weight: bolder;
    color: greenyellow;
    padding: 0 5px;
}

.actions{
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}

.actions button{
    border: none;
    font-size: 12px;
    /* background-color: red; */
    color: white;
    padding: 5px;
    /* width: 100%; */
    box-sizing: border-box;
    cursor: pointer;
}

.actions button:hover{
    background-color: white;
}

.completed{
    text-decoration: line-through;
    color: #ccc;
}

.completed .total{
    color:#ccc;
}


/* From uiverse.io by @adamgiebl */
/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    right: 2%;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: -13%;
    left: 0;
    height: 0.8em;
    width: 1.3em;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #47da99;
    animation: pop 0.5s;
    animation-direction: alternate;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* From uiverse.io by @hannahyockel */
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100, 77, 237, 0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
}

button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
        8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
        17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
        36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
        99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}